body{
    background-color: rgba(25, 25, 25, 0.75);
    width: 65%;
    margin: auto;
    }
header{
    position: absolute;
    background-color: black;
    width: 95%;
    height: 50px;
    margin: auto;
}

.navigation{
    position: relative;
    
}

.inline-block{
    display: inline-block;
}

nav{
    width: 70%;
    background-color: black;
    color: #F1C232;
    font-weight: 700;
    display: inline-block;
}

nav>div{
    background-color: #191919;
    width: 12%;
    padding: 15px;
    display: inline-block;
    border-bottom-color: #F1C232;
    border-bottom-style: inset;
    margin: auto;
}

.heroImg{
    height: 500px;
    width: 97.5%;
    padding: 20px;
    background-color: black;
    left: 30px;
}
.heroPic{
    width: 500px;
    height: 500px;
    float: right;   
}
.content{
    position: absolute;
    width: 500px;
    padding: 10px;
    margin-top: 300px;
    float: left;
    color: white;
    
}
button{
    background-color: #F1C232;
    color: #191919;
    font-weight: 700;
    width: 100px;
    padding: 10px;
    border: none;
}
.heroPic>img{
    height: 300px;
    width: 300px;
    float: right;
}

.myWork{
    background-color: black;
    color: white;
    font-family: sans-serif;
    text-align: center;
    width: 100%;
}

h4{
    color: white;
    font-weight: 700;
    font-family: sans-serif;
    font-size: 24px;
}

#case1{
    grid-area: Case1;
    background: linear-gradient(0deg, rgba(153, 0, 0, 0.85), rgba(153, 0, 0, 0.85)), #FFFFFF;
    text-align: center;
    line-height: 8;

}

#case1>p{
    line-height: 2;
}
#case2{
    grid-area: Case2;
    background: linear-gradient(0deg, rgba(255, 201, 10, 0.85), rgba(255, 201, 10, 0.85)), #FFFFFF;
    text-align: center;
    line-height: 100px;
}
#case2>p{
    line-height: 2;
    margin: 5px;
}
#case3{
    grid-area: Case3;
    background: linear-gradient(0deg, rgba(109, 158, 235, 0.9), rgba(109, 158, 235, 0.9)), #FFFFFF;
    text-align: center;
    line-height: 150px;
}
#case3>p{
    line-height: 2;
    margin: 5px;
}
.workGrid{
    margin: auto;
    height: 800px;
    background-color: black;
    display: grid;
    justify-content: space-between;
    align-content: space-between;
    grid-template-rows: 25% 25% 25% 25%;
    grid-template-columns: 48% 48%;
    grid-template-areas:
     "Case1 Case2"
     "Case1 Case2"
     "Case1 Case3"
     "Case1 Case3";
}

.caseStudy{
    background-color: #191919;
    color: #F1C232;
}

.mySkills{
    background-color: black;
    padding: 1%;
    width: 98%;
}

.mySkills>h1{
    background-color: black;
    color: white;
    font-family: sans-serif;
    height: 50px;
    text-align: center;    
}

.flexContainer{
    display: flex;
    flex-direction: row;
    background-color: black;
    height: 300px;
}
.flexContainer>div{
    background-color: #191919;
    color: #F1C232;
    width: 30%;
    margin: 1%;
    padding: 1%;
    justify-content: space-between;
    text-align: center;
    border-bottom-color: #F1C232;
    border-bottom-style: inset;
}


footer{
    position: relative;
    background-color: black;
    width: 97.5%;
    height: 200px;
    padding: 20px;
    top: 25px;
    text-align: center;
}
.footer-nav{
    position: absolute;
    display: block;
    width: 50%;
    top: 50%;
    left: 25%;

   
}
/* media query*/
@media only screen and (max-width: 600px) {
    body{
        width: 98%;
        margin: 1% auto;
    }
   
    .workGrid {
        display: grid;
        width: 100%;
        height: 1200px;
        justify-content: start;
        align-content: space-between;
        grid-template-columns: 1fr;
        grid-template-rows: 400px 400px 400px;
        grid-template-areas: 
            "Case1"
            "Case2"
            "Case3";
    }
    #case1{
        grid-area: Case1;
        background: linear-gradient(0deg, rgba(153, 0, 0, 0.85), rgba(153, 0, 0, 0.85)), #FFFFFF;
        text-align: center;
        line-height: 5;
    
    }
    #case1>p{
        line-height: 1;
    }
    .flexContainer{
        flex-direction: column;
        width: 100%;   
        height: 600px; 
    }
    .flexContainer>div{
        background-color: #191919;
        color: #F1C232;
        width: 90%;
        margin: 1% auto;
        padding: 1%;
        justify-content: space-between;
        text-align: center;
        border-bottom-color: #F1C232;
        border-bottom-style: inset;
    }  
    .heroImg{
        height: 600px;
        width: 98%;
        padding: 1%;
        background-color: black;
        left: 30px;
    } 
    .heroPic>img{
        height: 275px;
        width: 300px;
        margin-top: 5%;
    }
    footer{
        width: 98%;
        padding: 1%;
       }
       .footer-nav{
        width: 60%;
        left: 22%;   
    }
}